<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="AFD CLI" Language="1033" Version="0.1.0" Manufacturer="AFD" UpgradeCode="A1B2C3D4-E5F6-7890-ABCD-EF1234567890">
    <Package InstallScope="perMachine" InstallerVersion="200" Compressed="yes" />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="AFD">
          <Directory Id="DISTDIR" Name="dist" />
          <Directory Id="NODEMODULESDIR" Name="node_modules" />
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="AFD CLI" Level="1">
      <ComponentGroupRef Id="DistFiles" />
      <ComponentGroupRef Id="NodeModulesFiles" />
      <ComponentRef Id="CmdWrapper" />
      <ComponentRef Id="PathEnv" />
    </Feature>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="CmdWrapper" Guid="*">
        <File Id="afd.cmd" Name="afd.cmd" Source="files\afd.cmd" KeyPath="yes" />
      </Component>
      <Component Id="PathEnv" Guid="*">
        <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </DirectoryRef>
  </Product>
</Wix>
